<form>
    <div class="form-group">
        <a href='http://localhost:5000/login'>login</a>
    </div>

    <div class="form-group">
        <a href='http://localhost:5000/register'>register</a>
    </div>

</form>


<!-- Navigation Partial Template -->
<!-- <header class="masthead mb-auto">
    <div class="inner">
           <div class="col-md-5 align-self-center">
            <h1 class="text-themecolor">Home</h1>
        </div>
        <div class="inner">
           
            <nav class="nav nav-masthead justify-content-center">

                
            
            <% if(typeof locals.session == 'undefined' || typeof locals.session == 'undefined'){ %>
                <a id='links' class="nav-link" href="/register">Register</a>
                <a id='list' class="nav-link" href="/login">Login</a>
             
            <% }else{%>
               

                <a id='list' class="nav-link" href="/userdetails">dashboard</a>              
                <a id='list' class="nav-link" href="/logout">Logout</a>
               
            <% } %> -->
            </nav>
        </div>
    </header> 